@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <h1>Bank Application</h1>
    <p class="lead">Лабораторная работа по ПиРИС</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ATM</h2>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "ATM")">Перейти на страницу ATM &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Банк</h2>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Bank")">Перейти на страницу банка &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Клиенты</h2>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Client")">Перейти на страницу клиентов &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Депозиты</h2>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Deposit")">Перейти на страницу депозитов &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Кредиты</h2>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Credit")">Перейти на страницу кредитов &raquo;</a>
        </p>
    </div>
</div>